<style>
#video_box{
    float:left;
}
#video_overlays {
position:absolute;
float:left;
    width:640px;
    height:37px;
    background-color:rgba(255,0,0,0.5);
    z-index:300000;
}
button {
    color: black !important;
}
</style>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container container1">

        <center><p style="float: left;">Frame: &nbsp;</p> <p style="float: left;" id="time">0</p></center><br/><br/>
        
        <div id="video_box">
        <div id="video_overlays">No blink detected</div>
        <video id="v0" controls tabindex="0" autobuffer preload style="-moz-transform: scale(1, 1) !important;
-webkit-transform: scale(1, 1) !important;
-o-transform: scale(1, 1) !important;
transform: scale(1, 1) !important;">
            <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="http://www.html5rocks.com/tutorials/video/basics/Chrome_ImF.mp4"></source>
            <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
        </video>
        </div>
        <br/><Br/>
                <button id="speed">+1</button>
                <button id="negative">-1</button>
                <button id="blink">Blink</button>
                <button id="notblink">Not Blink</button>
                <br/>
        <div id="an" style="word-wrap: break-word;"></div>


        <script>
        var vid = $('#v0')[0];
        window.socket = io.connect();
        window.socket.emit('message', {message:"heyo"});
        var readyUp = window.setInterval(function(t){
          if (vid.readyState > 0) {
            doEverything();
          }
        },500);

        function doEverything(){
        clearInterval(readyUp);
        var fps = 25;
        var num = Math.round(vid.duration*fps);
        var annotation = new Array(num);

        for (var i = 0; i < num; i++) annotation[i] = "No blink detected";

            
        vid.onplay = vid.onclick = function() {
            // vid.onplay = vid.onclick = null;


            setTimeout(function() {
                vid.pause();
                setInterval(function() {
                    if($.browser.opera) {
                        var oldHandler = vid.onplay;
                        vid.onplay = function() {
                            vid.pause();
                            vid.onplay = oldHandler;
                        };
                        vid.play();
                    } else {
                        vid.currentTime += (1 / fps);
                        console.log(vid.currentTime);
                    }
                }, 2000);
            }, 12000);
            
            setInterval(function() {
                $('#time').html(Math.round(vid.currentTime * fps));
                $("#video_overlays").html(annotation[(Math.round(vid.currentTime * fps) / fps)*fps]);
            }, 100);
        };


        $("#speed").click(function() { // button function for 3x fast speed forward
            vid.pause();
            vid.currentTime += (1 / fps);
        });
        $("#negative").click(function() { // button function for rewind
            vid.pause();
            vid.currentTime -= (1 / fps);
        });

        $("#blink").click(function(){ 
            annotation[(Math.round(vid.currentTime * fps) / fps)*fps] = "Blink detected!";
            $("#video_overlays").html("Blink detected");
        });
        $("#notblink").click(function(){ 
            annotation[(Math.round(vid.currentTime * fps) / fps)*fps] = "No blink detected";
            $("#video_overlays").html("No blink detected");
        });
        }
        </script>

        </div>

    </div>

</div>