
				<div id="tester-preview" style='display: none;'>
				<h1 class="cover-heading">Test in progress</h1>
				</div>

				<div id="video-preview">
				<h1 class="cover-heading">Invigilator Portal</h1>  
				<div class="inner" style="padding: 0px;">
					<p>There are currently <a id='numu' class="badge">0</a> tester(s).</p>
				</div>
				<div style="display:inline-block; width: intrinsic; width: -webkit-min-content; width: -moz-min-content; margin: 20px auto;">
					Test length
					<div class="input-group">
						<input id="test-length" value="10" maxlength="3" style="width: 4em; text-align: right;" aria-label="Test length (in minutes)" class="form-control" type="text" inputmode="numeric" />
						<span class="input-group-addon">min</span>
					</div>
				</div>
				<div class="btn-toolbar" role="toolbar">
					<button id="Task1" value = "incomplete" style='height: 50px;'       class="btn btn-lg btn-success">Start Task1</a>
					<button id="Task2" value = "incomplete" style='margin-left: 2%;height: 50px ;' class="btn btn-lg btn-success">Start Task2</a>
					<button id="Task3" value = "incomplete" style='margin-left: 2%;height: 50px ;' class="btn btn-lg btn-success">Start Task3</a>
					<button id="Task4" value = "incomplete" style='margin-left: 2%;!important; height: 50px !important;' class="btn btn-lg btn-success">Start Task4</a>
				</div>
				<p><span id="elasped-time"></span></p>
				<div class="btn-toolbar" role="toolbar" style="margin:20px;">
					<button id="stop-me" value = "Current Task" style='visibility: hidden;color: white ; height: 42px ;width: 200px; margin-left: 2%;' class="btn btn-lg btn-danger">Stop Current Test</a>
				</div>
				<div class="btn-toolbar" role="toolbar">
					<button id="stop-test" value = "Current Task" style='visibility: visible;color: white ; height: 42px ;width: 300px; margin-left: 2%;' class="btn btn-lg btn-danger">Stop Tests and Logout</a>
				</div>
				<div class="btn-toolbar" role="toolbar">
					<button id="logoff" style = 'visibility: hidden;color: white; height: 42px;width: 200px; margin-left: 2%' class="btn btn-lg btn-warning">Logout User</a>
				</div>
</div>
<div style='width: 100%; margin: 0 auto; text-align: center;'>

<div id="s1">
 </div>

</div>

   <video autoplay=""></video>
   <video autoplay=""></video>
   <video autoplay=""></video>
   <video autoplay=""></video>

</div>

<div style='width: 100%;'>

<div id='videos' style='float: center; display: none;'>

 </div>

</div>

<div class="mastfoot">

</div>
