
				<div id="tester-preview" style='display: none;'>
				<h1 class="cover-heading">Test in progress</h1>
				</div>

				<div id="video-preview">
				<h1 class="cover-heading">Invigilator Portal</h1>
				<div class="inner" style="padding: 0px;">
  <p>There are currently <a id='numu'>0</a> tester(s).</p>
</div>
				<p class="lead">
					<button id="start-test" class="btn btn-lg btn-success">Start test</a>
					<button id="stop-me" style='color: white !important; height: 42px !important; margin-left: 2%;' class="btn btn-lg btn-danger">Stop test</a>
					  <span id="elasped-time"></span>
					<button id="test-type" value="desktop" style='margin-left: 2%;' class="btn">Desktop</a>

				</p>
				</div>


<div style='width: 100%; margin: 0 auto; text-align: center;'>

<div id="s1">
 </div>

</div>

   <video autoplay=""></video>
   <video autoplay=""></video>
   <video autoplay=""></video>
   <video autoplay=""></video>

</div>

<div style='width: 100%;'>

<div id='videos' style='float: center; display: none;'>

 </div>

</div>

<div class="mastfoot">

</div>